# --- Ignore everything by default ---
/*

# --- Allowlist specific files and directories ---
!/EDA_and_Model_training.ipynb
!/requirements.txt
!/src.py
!/static/
# Ensure all content inside static is kept
!/static/**

# --- Block common system/local files (Safety) ---
# Even if they are in allowed folders, ignore these:
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints/
**/.venv/
**/models/
